src/*
rviz/*
package.xml
maps/*
launch/*
include/*
CMakeLists.txt
bags/*
script/TITAN_*
script/Jetson_*
script/fig
script/table
script/result_*
script/test*
script/*.txt
lit
report/*.aux
report/*.auxlock
report/*.bbl
report/*.blg
report/*.log
report/*.pdf
report/auto
report/figures
