src/*
rviz/*
package.xml
maps/*
launch/*
include/*
CMakeLists.txt
bags/*
script/CPU
script/CPU_*
script/GPU
script/GPU_*
script/fig
script/fig_*
script/table
script/table_*
script/test*
script/*.txt
script/hybrid_*
